[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "maldipickr"]
	path = maldipickr
	url = https://github.com/clavellab/maldipickr
